.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #070b23;
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.5s;
  justify-content: center;
  overflow: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  margin-bottom: 24px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  color: #818181;
  display: flex;
  /* text-align: center; */
  align-items: center;
  padding-left: 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

a.selected {
  color: #f1f1f1;
}

a.selected svg path {
  fill-opacity: 1;
}

a.selected svg rect {
  fill-opacity: 1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 16px;
}

#ae2i-logo {
  width: 100%;
  height: auto;
}

.sidenav svg {
  width: 40px;
  height: 40px;
  transition: fill-opacity 0.5s ease;
  fill-opacity: 0.5;
}

.nav_item {
  text-decoration: none;
  color: white;
  display: flex;
  display: flex;
}

.nav_item svg {
  flex-shrink: 0;
  align-items: center;
}

.nav_text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-left: 10px;
}

/* Keyframe de l'animation du texte des categories (FIXME: galere quand on passe vite la souris, peut etre fixed) */
@keyframes expandAnimation {
  0% {
    opacity: 0;
    font-size: 0;
    width: 150px;
  }
  50% {
    font-size: 0px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-size: 15px;
    width: 200px;
  }
}

@keyframes collapseAnimation {
  0% {
    opacity: 1;
    font-size: 15px;
    width: 200px;
  }
  50% {
    font-size: 0px;
    opacity: 0;
  }
  100% {
    opacity: 0;
    font-size: 0;
    width: 150px;
  }
}

.sidenav.expanded .nav_text {
  animation: expandAnimation 0.3s forwards; /* Durée et direction */
}

.sidenav.expanded .sidenav {
  animation: expandAnimation 0.3s forwards; /* Durée et direction */
}

.sidenav.collapsed .nav_text {
  animation: collapseAnimation 0.3s forwards; /* Durée et direction */
}

.sidenav.collapsed .sidenav {
  animation: collapseAnimation 0.3s forwards; /* Durée et direction */
}

.nav_item svg path {
  fill-opacity: 0.5;
  transition: fill-opacity 0.3s ease;
}

.nav_item:hover svg path {
  fill-opacity: 1;
}

.nav_item:hover svg rect {
  fill-opacity: 1;
}

.nav_item_container {
  margin-bottom: 400px;
}

.account_container {
  position: fixed;
  bottom: 0;
}

.footer {
  font-size: 7px;
  color: #ffffff;
}

#container {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
